//////////////////////////   NAVBAR  ///////////////////////////////////:
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #DEF9FF;
}

.navbar-nav li a:hover {
    color: #C9628D !important;
}  //////////////////////////////   /NAVBAR ///////////////////////////////

//////////////////////////// FOOTER  //////////////////////////////////////
.footer {
    background-color: #DEF9FF;
    color: #ffffff;
    height: 120px;
}  ///////////////////////     /FOOTER ///////////////////////////////////

h1 {
  text-align: center;
}
/////////////////////////// The LIST OF PERSON (GROUP) /////////////////////////
.inline {
  display: inline-block;
  margin-right: 3%;
  background-color: #FFFFA7;

} /////////////////////////////  /The LIST OF PERSON (GROUP)  //////////////////

//////////////////////////////  LINK : NEW GROUP'S BUTTON  /////////////////////
.the_new_group {

} //////////////////////////////  /LINK : NEW GROUP'S BUTTON  //////////////////

//////////////////////////////  LINK : RANDOM'S BUTTON  /////////////////////
#butn{
  
}
